.builtOnHederaSVG  {
  height: 60px;
  width: auto;
}

.hbarLogoImg {
  width: 36px;
  height: auto;
}

.walletLogoImage {
  width: 30px;
  height: auto;
}

.control-input{
  width: 50%;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px;
}


